<!DOCTYPE html>
<html>
    <head>
        <title>Fitness-4-U</title>
        <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
    </head>
    <body>
        <div class="container">
            <div class="top-buttons">
                <button class="button">Settings</button>
                <div class="header">Fitness-4-U</div>
                <a href= "{{ url_for('login') }}">
                    <button class="button">Login</button>
                </a>
            </div>
            <a href="/logout">Log out</a>
            <div class="separator"></div>
            
            <div class="main-buttons">
                <a href= "{{ url_for('progress') }}">
                    <button class="green-button">Progress</button>
                </a>
                <button class="green-button">Food Diary</button>
                <button class="green-button">Create Workout</button>
            </div>
            
            <div class="logo"><img src="/static/Logo.jpg" alt="running man logo" width = 125px, height = 125px></div>
        </div>
    </body>
</html>

