<!DOCTYPE html>
<html>
    <head>
        <title>Weight Entering</title>
        <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
    </head>
    
    <body>
        <div class="container">
            <div class = "top-buttons">
                <a href= "{{ url_for('index') }}">
                <button class="button">Home</button>
                </a>
                <div class="header">Weight Entering</div>
            </div>
            
            <div class="separator"></div>
            
            <form action="/weightEntering" method="POST">
                <label>Weight:</label>
                <input type="integer" name="weight" required>
                <p></p>   
                <label>Date:</label>
                <input type="date" name="date" required>
                <p></p>
                
                <button type="submit" {% if email_exists %}disabled{% endif %}>Confirm</button>
            </form>

            <div id="myPlot" style="width:100%;max-width:700px"></div>

        
            </div>
        </div>
    </body>